* {
    font-family: 'Roboto', sans-serif;
}
header {
    position: relative;
}
nav {
    height: 50px;
    background-color: #212121;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style: none;
}
.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}
.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}
.subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, .6);
}

.subheader .subheader_logo {
    display: block;
    margin-top: 16px;
    max-width: 100%;
}

.subheader .subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
}
.subheader .subheader_call {
    margin-top: 19px;
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
}
.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    font-weight: 400;
    font-size: 22px;
    line-height: 12px;
    text-transform: uppercase;
    text-align: right;
    color: #FFFFFF;
}
.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.promo {
    min-height: 800px;
    background: url('../img/uber_bg.jpg') center center/cover no-repeat;
    padding: 150px 0 135px 0;
}
.promo .promo_header{
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}
.promo .promo_subheader{
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    margin-top: 22px;
}
.promo .promo_descr{
    margin-top: 23px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.promo .promo_btn{
    /* margin-top: 19px; */
    display: block;
    margin: 0 auto;
    margin-top: 115px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);

}

.benefits {
    padding: 71px 0 65px 0;
}

.label{
    margin: 0 auto;
    margin-top: 20px;
    width: 115px;
    height: 24px;
    background: #000000;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 5px 12px;
}

.title {
    display: block;
    margin: 0 auto;
    margin-top: 32px;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}
.benefits .benefits_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
.benefits .benefits_block .benefits_round{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 116px;
    height: 116px;
    background-color: #1eacc7;
    border-radius: 100%;
}
.benefits .benefits_block .benefits_descr {
    width: 343px;
}
.reason_title{
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}
.reason_descr{
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}